<footer>
    <div id="container">
        <a class="box-no-padding appstore-badge" href="https://dvc-w.tlnk.io/" target="_blank">
            <img alt="Download on the App Store" height="15" src="https://assets.taskrabbit.com/v3/assets/web/icons/appstore_badge-ee307f8da9d465811307754126487373.svg" />
        </a>
        <a class="box-no-padding appstore-badge" href="https://play.google.com/store/apps" target="_blank">
            <img alt="Get it on Google Play" height="15" src="https://assets.taskrabbit.com/v3/assets/web/icons/google_play_badge-5edfe9b1d9a06128b6d75ce7d8e88657.svg" />
        </a>

        <span class="attribution">
              |  &copy; {{today | date: 'yyyy'}}, Schluffer.com     *Built by Team Hustle   |    
      </span>
        <span class="extNavigation">
            <a class="about" href="/about">About</a>
            <a class="contact" href="/contact">Contact</a>
        </span>
    </div>
</footer>