footer {
    background: #acf173;
    width: 100%;
    /* position: fixed; */
    padding: 0rem 0;
}

span.extNavigation {
    display: inline-block;
    padding: 15px;
}

a.about {
    padding: 15px;
}

a.contact {
    padding: 15px;
}