#fa1 {
  color: green;
}
#jumbo1 {
  background-color: deepskyblue;
  width: 300px !important;
  float: left !important;
}
/* #jumbo2 {
  background-color: deepskyblue;
  width: 300px !important;
  float: right !important;
} */
